.Menudropdown{
    &:hover{
        cursor: pointer;
    }
    .menu-item{
        text-align: start;
        width: 100%;
        margin-left: 0 !important;
        padding: 12px 8px 12px 16px;
        font-weight: 600;
        color: rgba(22, 24, 35, 1);
    }
    .border_top{
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
    .title{
        margin-left: 8px;
    }
    .Menudropdown-icon{
        max-width: 20px;
        max-height: 20px;
    }
    .header{
        position: relative;
        display: flex;
        align-items: center;
        margin-top: -8px;
        height: 50px;
        .header-icon{
            padding-left: 28px;
            font-size: 16px;
            height: 100%;
            &:hover{
                cursor: pointer;
            }
        }
        p{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }
}

.Menudropdown-ResultBox{
    width: 223px;
    padding-top: 4px;
}

.menu-box{
    padding-bottom: 8px;
}

.toggle-btn {
    padding: 2px 9px;
    margin-left: 16px;
    background: none;
    &:hover{
        cursor: pointer;
    }
    img{
        width: 32px;
        border-radius: 50%;
    }
}